<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mancala Game</title>

</head>

<body>

    <div>
      <div id = "messages" class="messagePanel">Player 1's turn!!</div>
        <div class="board">
          <div id = "0" class="home">
            0
          </div>
          <div class="holes-section">
            <div class="holes-container">
              <button id = "13" class = "hole">4</button>
              <button id = "12" class = "hole">4</button>
              <button id = "11" class = "hole">4</button>
              <button id = "10" class = "hole">4</button>
              <button id = "9" class = "hole">4</button>
              <button id = "8" class = "hole">4</button>
            </div>
            <div class="holes-container">
              <button id = "1" class = "hole">4</button>
              <button id = "2" class = "hole">4</button>
              <button id = "3" class = "hole">4</button>
              <button id = "4" class = "hole">4</button>
              <button id = "5" class = "hole">4</button>
              <button id = "6" class = "hole">4</button>
            </div>
          </div>
          <div id = "7" class="home">
            0
          </div>
        </div>
      </div>


</body>

</html>
